In [69]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import math
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer

## Exploratory analysis

In [19]:
data = pd.read_csv("../Data/ACME-HappinessSurvey2020.csv")

- X1: order delivered on time
- X2: contents were as expected
- X3: I ordered everything I wanted to order
- X4: I paid a good price
- X5: I am satisfied with the courier
- X6: the app is easy to order

In [15]:
feature_names = [
    "order delivered on time",
    "contents were as expected",
    "I ordered everything I wanted to order",
    "I paid a good price",
    "I am satisfied with the courier",
    "the app is easy to order"
]

In [3]:
data.head()

   Y  X1  X2  X3  X4  X5  X6
0  0   3   3   3   4   2   4
1  0   3   2   3   5   4   3
2  1   5   3   3   3   3   5
3  0   5   4   3   3   3   5
4  0   5   4   3   3   3   5

In [6]:
data["Y"].count()

126

In [10]:
data["Y"].value_counts()

1    69
0    57
Name: Y, dtype: int64

In [13]:
missing_cols = [col for col in data.columns if data[col].isnull().any()]
len(missing_cols)

0

The exploratory analysis concluded that the target variable is nearly evenly split between the two classes; there are only 126 rows; there is no missing data.

All the features are ordinal!

## Mutual Information

In [40]:
y = data["Y"]

In [65]:
feature_names = list(data.columns)
feature_names.remove("Y")
X = data[feature_names]
X = X.astype(str)
y = y.astype(str)

In [197]:
ct = pd.crosstab(data["Y"], data["X1"])
jp = ct.to_numpy()

yn = jp.shape[0]
xn = jp.shape[1]

ys = jp.sum(1)
xs = jp.sum(0)

total = 126
mi = 0
h_x = 0
h_y = 0

for y in range(0, yn):
    for x in range(0, xn):

        p_x = xs[x] / total
        p_y = ys[y] / total
        p_xy = jp[y, x] / total

        fraction = p_xy / ((p_x * p_y) + 10e-8)

        if fraction == 0.0:
            continue
    
        mi += p_xy * np.log(fraction)

print(f"Mutual information is : {mi}")

for x in range(0, xn):
    p_x = xs[x] / total
    h_x += p_x * np.log(p_x)

print(f"Entropy : {h_x}")

for y in range(0, yn):

    p_y = ys[y] / total
    h_y += p_y * np.log(p_y)

print(f"Entropy : {h_y}")

Mutual information is : 0.04970420601280024
Entropy : -1.0362422547383536
Entropy : -0.6886051523183013

In [188]:
jp.sum(0)

array([ 7, 14, 55, 33, 17])

In [194]:
jp

array([[ 1, 12, 24, 20],
       [ 0,  8, 16, 45]])